@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

*,*::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Nunito', sans-serif;
}

html{
	scroll-behavior:smooth;
}

.containerFluid{
	width: 100%
}

.container{
	width:1140px;
	margin: auto;
}

section{
	min-height:100vh;
	padding: 100px 0;
	box-sizing:border-box;
}

.title{
	font-size:30px;
	margin-bottom:50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: 2px solid #ff6347;
}

.title2{
	font-size:30px;
	margin-bottom:50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

.toggleMenu{
	display: none;
}

header{
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	width:100%;
	z-index: 99999;
}

header .logo{
	height:75px;
	width: 75px;
}

header .logo img{
	height:75px;
	width:75px;
}

nav ul{
	list-style-type:none;
	display: flex;
}

nav ul li a{
	display: inline-block;
	height: 75px;
	line-height:75px;
	color: #ffffff;
	text-decoration: none;
	padding: 0 15px;
}

nav ul li a:hover{
	color:#ff6347;
}

header .container{
	display:flex;
	justify-content: space-between;
}

.banner{
	background-image:url('../img/1.jpg');
	background-attachment: fixed;
	background-size: cover;
	position:relative;
}

.content{
	text-align: center;
}

.content .userImg{
	height: 180px;
	width: 180px;
	overflow: hidden;
	border: 5px solid #fff;
	margin: 50px auto 25px;
	border-radius: 200px;
}

.content .userImg img{
	width: 100%;
	height: 100%;
}

.content h2{
	font-size:25px;
	color: #ffffff;
	border-bottom: 4px solid #ffffff;
	font-weight:500;
	display: inline-block;
}

.content h3{
	font-size:20px;
	color: #ffffff;
	font-weight:500;
	padding-top: 10px;
}

.cameraIcon{
	position:relative;
	height:30px;
	width:70px;
	border-radius: 100px;
	border: 3px solid #fff;
	margin: 20px auto 0;
}

.cameraIcon::after{
	content: "";
	width: 3px;
	height: 10px;
	background-color: #fff;
	position: absolute;
	left: 50%;
}

.serviceContent{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	position: relative;
}

.serviceContent .box{
	text-align: center;
}

.serviceContent .serviceIcon img{
	width:85px;
	height: 85px;
	line-height: 100px;
}

.serviceIcon img{
	text-align: center;
}

.serviceContent .serviceTitle{
	text-align: center;
}

.serviceContent p{
	text-align: center;
}

#about{
	background-color: #000000;
	color: #fff;
}

#about .grid{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 50px;
}

#about .aboutContent p{
	text-align:justify;
	margin-top: 15px;
	color: #fff;
}

.aboutImage{
	position: relative;
}

.aboutImage img{
	width: 100%;
	height: 100%;
}

#about .infoGrid{
	display: grid;
	margin-top: 50px;
	grid-template-columns: repeat(2, 1fr);
}

#about .infoGrid label{
	font-weight: 800;
	font-size: 12pt;
}

.skillsContent{
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.skillsContent .upper{
	display: flex;
	justify-content: space-between;
}

.skillsContent .lower{
	width: 100%;
	height: 15px;
	position: relative;
	background-color: #eeeeee;
	border-radius: 50px;
}

.skillsContent .lower .persen{
	width: var(--width);
	background-color: #ff6347;
	height: 15px;
	margin-top: 10px;
	border-radius: 50px;
}

.skillsContent >div:hover .lower .persen{
	animation: 1.5s filler ease-in-out;
}

.portfolioContent{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
}

.projectImage{
	height: 250px;
	width: 100%;
}

.projectImage img{
	width: 100%;
	height: 100%;
}

.portfolioContent > div{
	position: relative;
	overflow: hidden;
}

.portfolioInfo{
	position: absolute;
	top: 0;
	left: -15px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 99, 71, 0.9);
	color: #ffffff;
	padding: 30px;
	outline: 1px solid #fff;
	outline-offset: -15px;
	transition: 0.5s all;
	opacity: 0;
	cursor: pointer;
}

.portfolioContent> div:hover .portfolioInfo{
	left: 0;
	opacity: 1;
}

.portfolioInfo h4{
	margin: 50px 0 25px;
	font-weight: 800;
	font-size: 20px;
}

.portfolioInfo p{
	letter-spacing: 0.5px;
	font-weight: 300;
}

#contact{
	background-color: #f9f9f9;
}

.contactContent{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
	text-align: center;
}

.contactContent img{
	width:50px;
	height: 50px;
	text-align: center;
}

.contactContent .box{
	padding: 15px;
	box-shadow: 0 0 15px 0 #00000021;
	background-color: #fff;
}

.contactText{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 50px;
	position: relative;
}

.contactText .form{
	position: absolute;
	top: 15px;
	right: 15px;
	min-height: 250px;
	background-color: #ffffff;
	box-shadow: 0 0 15px 0 #00000021;
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr;
}

.contactText .contactInfo p{
	text-align: justify;
	margin-top: 15px;
}

.contactText .form textarea{
	height: 130px;
	border: 1px solid #ff6347;
	outline: none;
}

.contactText .form .formGroup{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}

.contactText .form .formGroup input{
	border: 0;
	outline: none;
	border-bottom: 1px solid #ff6347;
}

.contactText .form button{
	background-color: #ff6347;
	border: none;
	outline: none;
	color: #ffffff;
	height: 30px;
}

footer{
	height: 75px;
	line-height: 75px;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	font-weight: 300;
}




/*keyframe*/

@keyframes filler{
	0%{
		width:0;
	}
	100%{
		width: var(--width);
	}
}


@media screen and (max-width: 960px){
	.container{
		width: 100%;
		padding: 0 15px;
	}
	
	.aboutImage{
		height: 90%;
	}
	
	.portfolioContent > div, .projectImage{
		height:200px;
	}
	
	.portfolioInfo h4{
		margin: 0 0 15px;
		font-size: 16px;
	}
}

@media screen and (max-width: 768px){
	.container{
		width: 100%;
		padding: 0 15px;
	}
	.content .userImg{
		height: 150px;
		width: 150px;
		margin: 40px auto 20px;
	}
	.content .userImg img{
		height: 100%;
		width: 100%;
	}
	.aboutImage{
		height: 65%;
	}
	.portfolioInfo h4{
		margin: 0 0 15px;
		font-size: 16px;
	}
	.portfolioContent > div, .projectImage{
		height:180px;
	}
	.portfolioInfo p{
		font-size: 14px;
	}
	.contactContent{
		grid-template-columns: repeat(2, 1fr);
	}
	.contactText .form{
		position: initial;
		margin-bottom: 15px;
	}
	.contactInfo{
		height: auto;
	}
	.contactInfo p{
		margin-right: 15px;
	}
}

@media screen and (max-width: 420px){
	.container{
		width: 100%;
		margin: auto;
	}
	
	nav ul li a{
		width: 100%;
		display: block;
		background-color:rgba(0,0,0,0.7);
		font-size: 16px;
		text-align: center;
	}
	nav ul{
		display: initial;
	}
	nav ul li{
		width: 100%;
	}
	nav{
		position: absolute;
		top: 75px;
		width: 90%;
		left: 5%;
		display: block;
		height: 0px;
		overflow: hidden;
		transition: 0.5s all;
	}
	
	nav.active{
		height: auto;
	}
	
	.toggleMenu{
		display: inline-block;
		background-color: transparent;
		border: 1px solid #fff;
		height: 35px;
		width : 35px;
		color: #ffffff;
		position: absolute;
		right: 5%;
		top: 20px;
		outline: none;
	}
	
	.toggleMenu img{
		height: 20px;
		width : 20px;
	}
	
	.serviceContent{
		grid-template-columns: repeat(2, 1fr);
	}
	
	#about .grid, #about .infoGrid, .skillsContent{
		grid-template-columns: 1fr;
		font-size: 14px;
	}
	.aboutImage img{
		width: 100%;
		height: 150%;
	}
	
	.portfolioContent{
		grid-template-columns: 1fr;
		grid-gap:15px;
		padding-bottom: 30px;
	}
	
	.portfolioInfo h4{
		margin: 5px 0 15px;
	}
	
	.portfolioContent > div, .projectImage{
		height:250px;
	}
	
	.portfolioInfo p{
		font-size: 14px;
	}
	
	.contactText .contactInfo p{
		margin-bottom: 15px;
		font-size: 14px;
	}
	
	.contactText .contactInfo p{
		margin-bottom: 15px;
	}
	.contactText .form .formGroup{
		max-width: 250px;
		grid-template-columns: 1fr;
	}
	
	.contactText .form button{
		height: 30px;
	}
	#contact{
		padding-bottom: 30px;
	}
	
	footer{
		font-size: 12px;
	}
}


@media screen and (max-width: 320px){
	.container{
		width: 90%;
		margin: auto;
	}
	nav ul li a{
		width: 100%;
		display: block;
		background-color:rgba(0,0,0,0.7);
		font-size: 16px;
		text-align: center;
	}
	nav ul{
		display: initial;
	}
	nav ul li{
		width: 100%;
	}
	nav{
		position: absolute;
		top: 75px;
		width: 90%;
		left: 5%;
		display: block;
		height: 0px;
		overflow: hidden;
		transition: 0.5s all;
	}
	
	nav.active{
		height: auto;
	}
	
	.toggleMenu{
		display: inline-block;
		background-color: transparent;
		border: 1px solid #fff;
		height: 35px;
		width : 35px;
		color: #ffffff;
		position: absolute;
		right: 5%;
		top: 20px;
		outline: none;
	}
	
	.toggleMenu img{
		height: 20px;
		width : 20px;
	}
	
	.serviceContent, .contactContent, .contactText{
		grid-template-columns: 1fr;
		font-size: 14px;
	}
	
	.contactInfo{
		grid-template-columns: 1fr;
	}
	
	#about .grid, #about .infoGrid, .skillsContent{
		grid-template-columns: 1fr;
		font-size: 14px;
	}
	.aboutImage img{
		width: 100%;
		height: 150%;
	}
	
	.portfolioContent{
		grid-template-columns: 1fr;
		grid-gap:15px;
		padding-bottom: 30px;
	}
	
	.portfolioInfo h4{
		margin: 5px 0 15px;
	}
	
	.portfolioContent > div, .projectImage{
		height:180px;
	}
	
	.portfolioInfo p{
		font-size: 16px;
	}
	
	.contactText .contactInfo p{
		margin-bottom: 15px;
		font-size: 14px;
	}
	.contactText .form .formGroup{
		max-width: 250px;
		grid-template-columns: 1fr;
	}
	
	.contactText .form button{
		height: 30px;
	}
	#contact{
		padding-bottom: 30px;
	}
	
	footer{
		font-size: 12px;
	}
}